{% extends "base.html" %}
{% load static %}


{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
<div class="d-flex justify-content-center"> 
{% if user.is_authenticated %}
    {% if state == 'suggest' %}
    <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">Schreibe deinen heimlichen Wichtelzettel</div>
  <div class="d-flex justify-content-center"> 
    <form action="/" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            OK
          </button>
          {% endbuttons %}
    </form>
    </div>  
    </div>
    {% elif state == 'wait' %}
    <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        Du musst noch warten. Die folgenden Wichtel haben noch keine Vorschläge gemacht: 
    </div>
    <div class="d-flex justify-content-center">
        <ul>
        {% for user in missing_users%}
            <li>{{ user }}</li>
        {% endfor %}
        </ul>
    </div>
    </div>
    {% elif state == 'draw' %}
    <div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        Du musst {{recipient}} etwas mit den folgenden Eigenschaften schenken:
    </div>
    <div class="d-flex justify-content-center">
        <ul>
            <li>Farbe: {{color}}</li>
            <li>Beschreibung: {{describtion}}</li>
        </ul>
    </div>
    </div>
    {% elif state == 'invalidForm' %}
        Einträge waren nicht möglich
    {% else %}
        <p>Hallo, {{ user.get_username }}. Hier gibts nichts zu sehen.</p>
    {% endif %}
{% else %}
    <p>Einloggen, dann gehts los.</p>
{% endif %}
</div>
{% endblock %}
